body {
    margin: auto;
    max-width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name {
    text-align: center;
    font-size: 21pt;
}

#profilePhoto {
    margin: 0 auto;
}

#profilePhoto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.view-more {
    color: blue;
}

.project p{
    font-weight: bold;
}